body{
	background-color: grey;

}

/*NAVBAR*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    /*background-image: url("images\rawpixel-699806-unsplash.jpg");*/
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/*NEXT*/
/*title and top of page*/
#title{
	font-family: 'Anton', sans-serif;
	display:flex;
	justify-content: flex-start;
}


/*buffers*/
#buffer {
	height: 30px;
	width: 100%;
}
#buffer2 {
	padding: 30px;
}

/*banner div*/
#bannerimg {
	background-color: lightgrey;
	margin:auto;
	height: auto;
	width:100%;
	display:flex;
	justify-content: flex-start;

}

@media screen and (min-width: 700px){
#banner {
	background-color: lightgrey;
	margin:auto;
	height: 600px;
	width:100%;
	display:flex;
	justify-content: flex-start;

}}


#values {
	display:flex;
	align-items: left;
	flex-direction: column;
	height: auto;
	width: 100%;
		/*border-style: solid;
	border-color: black;*/
}

h4{
	font-family: 'Anton', sans-serif;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: grey;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: 'Anton', sans-serif;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/*Mobile style*/
/*@media screen and (max-width: 320px) {*/
#container1{
	/*background-color: grey;*/
	border-radius: 5px;
	margin: auto;
	width: 100%;
	height: auto;
	display:flex;
	flex-direction: column;
	align-content: space-between;
}

/*Desktop style*/
@media screen and (min-width: 700px) {
#container1{
	/*background-color: grey;*/
	border-radius: 5px;
	margin: auto;
	width: 100%;
	height: auto;
	display:flex;
	flex-direction: row;
	justify-content: space-around;

}}
/*Mobile style*/
.snapshot{
	background-color: white;
	width: auto;
	height: auto;
	display:flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	border-style: solid;
	border-color: white;
}
/*Desktop style*/
@media screen and (min-width: 700px){
	.snapshot{
	background-color: white;
	width: 500px;
	height: auto;
	display:flex;
	justify-content: space-between;
	/*align-items: center;*/
	border-radius: 5px;
	border-style: solid;
	border-color: white;
}}
/*Mobile style*/
.fpics{
	background-color: white;
	/*width: 100%;
	height: 300px;*/
	width: auto;
	height: auto;
}
/*Desktop style*/
@media screen and (min-width: 700px){
	.fpics{
	background-color: white;
	width: 100%;
	height: 300px;
	/*width: auto;
	height: auto;*/
}}
/*Mobile style*/
.textgrid{
	/*background-color:lightblue;*/
	width: auto;
	height: auto;
	padding-left: 10px;
}

/*Main style for mobile phones*/
/*bottom footer/banner style*/
/*@media screen and (max-width: 600px) {*/
/*@media screen and (max-width: 320px) {*/
/*Mobile style*/
#container2{
	background-color: lightgrey;
	border-radius: 5px;
	border-style: solid;
	border-color: white;
	margin: auto;
	width: 100%;
	height: auto;
	display:flex;
	flex-direction: column;
	
}
/*Desktop Style*/
@media screen and (min-width: 700px) {
 	#container2{
	background-color: lightgrey;
	border-radius: 5px;
	border-style: solid;
	border-color: white;
	margin: auto;
	width: 100%;
	height: auto;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}}
/*Mobile style*/
.infofoot{
	background-color: white;
	border-color: grey;
	/*width: 300px;*/
	width: auto;
	height: auto;
}
/*Desktop Style*/
@media screen and (min-width: 700px) {
	.infofoot{
	background-color: white;
	border-color: grey;
	width: 300px;
	/*width: auto;*/
	height: auto;
}
}